*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 body{
    background: #f2f2f2;
    font-size: 16px;
}

.flex{
    display: flex;
}

.letras{
    color: #f2f2f2;
}

.portada{
    background-image: linear-gradient(to right,rgb(0,114,155),rgb(120,180,108));
    padding: 2%;
    overflow: hidden;
}

.portada__instituciones{
}

.portada__escudos{
    width: 15%;
}
.portada__unam{
    width: 50%;
    align-items: center;
}

.portada__letras-unam{
    margin-left: 2%;
    font-size: 1.8rem;
}

.portada__fi{
    width: 50%;
    flex-direction: row-reverse;
    align-items: center;
}

.portada__letras-division-fi{
    width: 40%;
    text-align: right;
    flex-direction: column;
}

.portada__letras-fi{
    font-size: 2.1rem;
    margin-right: 3%;
}

.portada__letras-division{
    font-size: 1.2rem;
    margin-right: 4%;
} 

.portada__presentacion-diplomado{
    width: 100%;
    height: 75vh;
    align-items: flex-start;
}

.portada__titulo-diplomado{
    width: 50%;
    margin: auto;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.portada__img-diplomado{
    width: 50%;
    margin: auto;
}

.portada__img-diplomado img{
    width: 90%;
    margin: 0 auto;
}

.portada__texto-diplomado{
    font-size: 6rem;
    margin: 0 0 0 26%;
    font-family: sans-serif;
}

.portada__nombre-diplomado{
    margin: 0 0 0 27%;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.presentacion-diplomado__titulo{
    --color: #066E8E;
    background-color:var(--color);
    display: inline-block;
    font-size: 4rem;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}

.presentacion-diplomado__texto-presentacion{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 3%;
}

.jo{
    position: relative;
    background: paleturquoise;
    width: 33%;
    margin: 2% 0%;
    display: inline-block;
}

.presentacion-diplomado__aptitudes{
    background: orange;
    position: absolute;
    margin: 0 4%;
    width: 24vw;
    height: 22vw;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 6% 50%, 28% 95%, 71% 95%, 94% 50%, 71% 5%, 28% 5%, 6% 50%);
}

.presentacion-diplomado__icono-aptitud{
    position: absolute;
    margin: 15% 17%;
    width: 45%;
    z-index: 100;
}






